@import play.mvc.Http.Request

@(productsList: Seq[Product], monthlyRevenues: String, contactInfo: models.ContactInfo)(implicit request: Request)
@main("Play Investimentos") {
<div>
  <section class="banner">
    <div class="p-5 mb-4 banner-content">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Faça com quem conhece</h1>
        <p class="col-md-8 fs-4">
          Nossa missão é proporcionar rendimentos consistentes no longo prazo,
          além de educar e informar investidores sobre o mundo dos investimentos.
        </p>
        <p class="col-md-8 fs-4">
          Conte com nosso time de gestores experientes em diversos segmentos de mercado.
        </p>
      </div>
    </div>
  </section>
  <div class="container-fluid no-padding">
    <section class="py-5 centered">
      <div class="row g-5 py-5">
        @for(product <- productsList) {
          <div class="product col-md-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">@product.title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@product.subtitle</h6>
                <p class="card-text">@product.description</p>
                <a href="#" class="card-link">Saiba mais</a>
              </div>
            </div>
          </div>
        }
      </div>
    </section>
    <section class="revenue centered">
      <h2>Nosso valor</h2>
      <div class="row">
        <div class="col">
          <canvas id="chart"></canvas>
        </div>
        <div class="col revenue-text">
          <div>
            <h3>Patrimônio gerido</h3>
            <p>
              O gráfico ao lado  representa o crescimento dos investidores na nossa equipe.
              Nele temos o patrimônio líquido, em milhões de reais, investido nos nossos 3 fundos
              e controlado por nossos gestores nos últimos 6 meses.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="contact">
    <p>Todos os direitos reservados</p>
    <div class="contact-info">
      <p>@contactInfo.address</p>
      <p>|</p>
      <p>@contactInfo.telephone</p>
      <p>|</p>
      <p>@contactInfo.email</p>
    </div>

  </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let monthlyString = "@monthlyRevenues";
  monthlyString = monthlyString.replaceAll('&quot;', '\"');
  const monthsList = JSON.parse(monthlyString);

  const revenues = [];
  const months = [];

  monthsList.forEach((item) => {
    revenues.push(item.revenue);
    months.push(item.yearMonth);
  });

  const labels = months;
  const data = {
    labels: months,
    datasets: [{
      label: 'R$',
      backgroundColor: 'rgb(64,64,64)',
      borderColor: 'rgb(64, 64, 64)',
      data: revenues,
    }]
  };
  const config = {
    type: 'line',
    data,
    options: {}
  };
  let myChart = new Chart(
          document.getElementById('chart'),
          config
  );
</script>
}
